.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10%;
  }
  
  .left-side {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .right-side {
    display: grid;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

body {
    background-color: lightblue;
}

img {
    padding: 5px;
    width: 90%;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgba(89, 89, 89, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid;
  }

.home-button {
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-family: "Script MT Bold";
}

.gallery-text {
    flex-grow: 1;
    font-size: 50px;
    font-family: "Script MT Bold";
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.stort {
    width: 50%;
    height: auto;
}

.bilde {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}